@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

:root {
  --bg-primary: #e8b7cc;
  --bg-secondary: #090505;
  font-family: "Mochiy Pop P One", sans-serif;
}

body {
  background: rgb(255, 178, 210);
  background: linear-gradient(
    180deg,
    rgb(255, 179, 211) 0%,
    rgba(252, 160, 199, 1) 43%,
    rgba(232, 183, 204, 1) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

span {
  font-size: 28px;
  text-align: center;
  display: block;
  white-space: nowrap;
  border-right: 2px solid;
  width: 9ch;
  animation: typing 6s steps(9) infinite, blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 9ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#headContainer {
  animation: head 2s ease 0.5s infinite;
}

@keyframes head {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

#armLeft {
  animation: armL 1s ease 0.5s infinite;
}

@keyframes armL {
  20%,
  60% {
    transform: scale(0.98);
  }
}

#armRight {
  animation: armR 2s ease 1s infinite;
}

@keyframes armR {
  20%,
  60% {
    transform: translate(20px, -10px);
  }
}

#eyeLc,
#eyeRc {
  animation: eyeL 1.5s ease 0.5s infinite;
}

@keyframes eyeL {
  0% {
    height: 15px;
  }
  2% {
    height: 3px;
    transform: translate(0px, 2px);
    border-radius: 100%;
  }
  5% {
    height: 15px;
    transform: translate(0px, 0px);
    border-radius: 100%;
  }
}
.controls {
  position: relative;
  width: 100%;
  background-color: red;
}

.controls .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  padding: 0;
  box-shadow: #a15878 8px 8px 25px, #ffffff -15px -15px 25px;
}

.controls .btn .on {
  display: none;
  transition: 0.3s;
}
.controls .btn .off {
  display: block;
  transition: 0.3s;
  opacity: 0.8;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px dotted var(--bg-secondary);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  /* animation-name: turn; */
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes turn {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
